* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  padding: 1rem;
}
.card {
  border: 1px solid black;
  word-wrap: none;
  white-space: nowrap;
  border-radius: 0.25rem;
  background: white;
  opacity: 0;
  transition: 150ms;
  padding: 0.5rem;
  transform: translateX(100px);
}
.card.show {
  transform: translateX(0);
  opacity: 1;
}
